In [1]:
from pybit.unified_trading import HTTP
session = HTTP(testnet=True)
print(session.get_kline(
    category="futures",
    symbol="BTCUSD",
    interval=60,
    start=1670601600000,
    end=1670608800000,
))

{'retCode': 0, 'retMsg': 'OK', 'result': {'symbol': 'BTCUSD', 'category': 'futures', 'list': [['1670608800000', '17071', '17073', '17027', '17055.5', '268611', '15.74462667'], ['1670605200000', '17071.5', '17071.5', '17061', '17071', '4177', '0.24469757'], ['1670601600000', '17086.5', '17088', '16978', '17071.5', '6356', '0.37288112']]}, 'retExtInfo': {}, 'time': 1700235511160}

In [24]:
import time
def current_milli_time():
    return round(time.time() * 1000)
current_milli_time()

1700236275784

In [55]:
date = current_milli_time()

limit = 100

r = session.get_kline(
    category="inverse",
    symbol="BTCUSD",
    interval=5,
    start=1638349200000 + 2 * 5 * 60 * 1000,
    end=1638349200000 - (limit * 5 * 60 * 1000),
)

In [56]:
import pandas as pd
df = pd.DataFrame(r['result']['list'])
df

Empty DataFrame
Columns: []
Index: []

1700236142328

In [36]:
df = pd.DataFrame()

date = current_milli_time()

limit = 200

boucle = True

while boucle:

    r = session.get_kline(
    category="futures",
    symbol="RNDRUSDT",
    interval=60,
    start=date- (limit * 5 * 60 * 1000),
    end=date,)

    data = r['result']['list']
    
    if data == []:
        boucle = False
    else:
        dft = pd.DataFrame(data)
        df = pd.concat([df, dft])

        date = date - (limit * 5 * 60 * 1000)
        
df

                0       1       2        3       4          5               6
0   1700233200000  2.8699  2.8699  2.77375  2.7863  1510522.1   4274980.47655
1   1700229600000  2.8977  2.9223   2.8699  2.8699  1778621.7   5131475.96044
2   1700226000000  2.9221  2.9538   2.8977  2.8977  1691118.9  4933897.304585
3   1700222400000  2.9222  2.9222   2.8551  2.9221  1713190.6  4964875.778355
4   1700218800000  2.9262  2.9586   2.9222  2.9222    1744106   5107452.99014
..            ...     ...     ...      ...     ...        ...             ...
3   1638363600000    5.43    5.72    5.365    5.48       6043        33571.69
4   1638360000000   5.625   5.805    5.295    5.43     6742.3      37532.3995
5   1638356400000    5.59    5.83    5.565   5.625     5708.5      32379.5905
6   1638352800000    5.64    5.84     5.53    5.59     6006.6        34366.78
7   1638349200000    5.79    5.79     5.64    5.64      168.7         968.816

[17191 rows x 7 columns]