In [1]:
import binance
from binance.client import Client
from binance.client import HistoricalKlinesType
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
client = Client()

In [3]:
symbol = "SOLUSDC"
interval= '1m'
KlinesType = HistoricalKlinesType.FUTURES
klines = client.get_historical_klines(symbol, interval, "1 Jan,2000", limit=1000, klines_type=KlinesType)
data = pd.DataFrame(klines)
 # create colums name
data.columns = ['Date','Open', 'High', 'Low', 'Close', 'Volume','Close_time', 'Qav','Trades','Taker_base_vol','Taker_quote_vol', 'ignore']
data.drop([ 'ignore', 'Close_time'], axis=1, inplace=True)

# change the timestamp
data.Date = [dt.datetime.fromtimestamp(x/1000.0) for x in data.Date]
data.set_index('Date', inplace=True)
# drop the colums

KlinesTypeN = 'Spot' if KlinesType.value==1 else 'Futures' if KlinesType.value==2 else 'Margin'

data.to_csv(f'../binance/{symbol}_{interval}_{KlinesTypeN}.csv', header=True)

data

,Open,High,Low,Close,Volume,Qav,Trades,Taker_base_vol,Taker_quote_vol
Date,,,,,,,,,
2024-01-04 07:46:00,99.8210,99.8210,99.2140,99.2140,2.00,199.035000,2,1.00,99.821000
2024-01-04 07:47:00,99.2150,99.4130,99.2150,99.4130,2.40,238.314000,3,1.00,99.413000
2024-01-04 07:48:00,99.3200,99.3200,99.2050,99.2050,0.60,59.580500,3,0.50,49.660000
2024-01-04 07:49:00,99.2050,99.2050,99.2050,99.2050,0,0,0,0,0
2024-01-04 07:50:00,99.2050,99.2050,99.2050,99.2050,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
2024-07-04 13:44:00,134.2750,134.2750,134.0830,134.1190,827.88,111071.295800,193,237.06,31799.999230
2024-07-04 13:45:00,134.1190,134.1370,133.8640,133.9570,1603.10,214772.068460,276,824.81,110483.076140
2024-07-04 13:46:00,133.9810,134.0540,133.7370,133.7930,2412.34,322881.749610,366,698.74,93519.248700
2024-07-04 13:47:00,133.7960,133.9120,133.6990,133.8040,3086.66,413000.672860,402,1846.79,247111.688060
2024-07-04 13:48:00,133.7920,133.8140,133.6210,133.7050,1736.25,232164.345030,278,842.13,112602.409350